body {
    background-color: black;
}

.container {
    color: white;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    justify-content: center;
    align-items: center;
    display: felx;
}

.inputlabel {
    margin-left: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    font-size: 1.6rem;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100vw;
    font-size: 1.4rem;
    align-items: center;
}

.button {
    color: white;
    background-color: rgb(73, 73, 73);
    margin: 2vh;
    font-size: 1.4rem;
}

.button:active {
    background-color: rgb(90, 90, 90);
    box-shadow: 2 2px gray;
    transform: translateY(2px);
}

.inputgrid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.inputcard {
    margin-left: 1.2rem;
    color: white;
    font-size: 1.5rem;
    align-items: left;
}

.card {
    width: 120px;
    margin: 1rem;
    line-height: 2rem;
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.cardselected {
    width: 120px;
    margin: 1rem;
    line-height: 2rem;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    background-color: rgb(117, 116, 116);
    border: 1px solid #0f12c0;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}
