.matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: aqua;
}


.matrixsources {
    justify-content: left;
    align-items: left;
    margin-top: 3px;
    margin-left: 60px;
    flex-direction: row;
}

.matrix_source_target_label  {
    margin-bottom: 2px;
    height: 35px;
    font-size: 35px;
}

.matrixsource {
    margin-top: 2px;
    height: 35px;
    font-size: 35px;
}

.matrixtargets {
    justify-content: left;
    align-items: left;
    width: 10vw;
    color: aqua;
}

.matrixtarget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.matrix_target_label {
    direction: rtl;
    transform: rotate(90deg);
    font-size: 100%;
    height: 2px;
    margin-bottom: 60px;
}

.matrix_connection_botton {
    color: white;
    background-color: rgb(73, 73, 73);
    margin-top: 3px;
    margin-left: 2px;
    height: 35px;
    width: 35px;
    font-size: 20px;
}
