.matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 10vw;
    color: aqua;
}


.matrixsources {
    justify-content: left;
    align-items: left;
    margin-top: 3vh;
    margin-left: 30vw;
    flex-direction: row;
}

.matrix_source_target_label  {
    margin-bottom: 2vh;
    height: 3vh;
    font-size: 120%;
}

.matrixsource {
    margin-top: 0.8vh;
    height: 3.3vh;
    font-size: 120%;
}

.matrixtargets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    width: 10vw;
    color: aqua;
}

.matrixtarget {
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.matrix_target_label {
    direction: rtl;
    transform: rotate(90deg);
    font-size: 100%;
    height: 2vw;
    margin-bottom: 3vh;
}

.matrix_connection_botton {
    color: white;
    background-color: rgb(73, 73, 73);
    margin-top: 1vh;
    margin-left: 1vw;
    height: 3vh;
    width: 3vh;
    font-size: 1.4rem;
}
